/*Selector Universal*/
*{
    background:  beige
    ;
}
/*Selector por etiqueta*/
h1{
    background: plum;
}
p{
    background: orange;
}
#categoria{
    background-color: blue;
}
/*Selector descendente*/
aside h2{
    color: red;
}
/*Selector por clases*/
.Titulo_uno{
    color: brown;
}
/* Selector ID */
#sinsentido{
    background: yellow;
}